{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet"  type='text/css' href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">

    <link rel="stylesheet" href= {% static "css/reset.css" %}>
    <link rel="stylesheet" href= {% static "css/style.css" %}>


    <script src="/static/lib/js/jquery.min.js"></script>
    <script src="/static/lib/js/bootstrap.min.js"></script>
</head>

<body>

    <div id="wrapper">

        <div id="content" class="container">

            {% block content %}


            {% endblock %}
        </div>

        <nav id="sidebar">

            <div class="nav-container">

                <h1 class="navbar-brand">
                    {% if user.is_active %}
                        {{ user.username }}
                    {% else %}
                        Exp Builder
                    {% endif %}
                </h1>
                <ul class="nav">
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span>Home</a></li>

                    {% if user.is_active %}
                        <li><a href="/"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-inbox"></span>Messages</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-briefcase"></span>Jobs</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-book"></span>Archives</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
                        <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                    {% else %}
                        <li><a href="/signup/"><span class="glyphicon glyphicon-envelope"></span>Register</a></li>
                        <li><a href="/login/"><span class="glyphicon glyphicon-user"></span>Login</a></li>
                    {% endif %}
                    <li><a href="/login/"><span class="glyphicon glyphicon-eye-open"></span>How it works</a></li>
                </ul>
            </div>
        </nav>
    </div>

</body>

</html>